<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @event_category, partial: "card", as: :event_category %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "event_categories/event_category_events" %>
  </div>
</div>
