<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bought Tickets

    <a data-toggle="collapse" href="#user_bought_tickets_new_form">
      Add bought ticket
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.bought_tickets.each do |bought_ticket| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to bought_ticket, bought_ticket %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_bought_tickets_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
