<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bought Tickets

    <a data-toggle="collapse" href="#ticket_bought_tickets_new_form">
      Add bought ticket
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @ticket.bought_tickets.each do |bought_ticket| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to bought_ticket, bought_ticket %>

        <%= link_to bought_ticket, method: :delete, data: { confirm: "Do you really want to delete this bought_ticket" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="ticket_bought_tickets_new_form">
        <%= render partial: "tickets/ticket_bought_tickets_new_form" %>
      </div>
    </div>

  </ul>
</div>
