<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Auction Bids

    <a data-toggle="collapse" href="#ticket_auction_bids_new_form">
      Add auction bid
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @ticket.auction_bids.each do |auction_bid| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to auction_bid, auction_bid %>

        <%= link_to auction_bid, method: :delete, data: { confirm: "Do you really want to delete this auction_bid" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="ticket_auction_bids_new_form">
        <%= render partial: "tickets/ticket_auction_bids_new_form" %>
      </div>
    </div>

  </ul>
</div>
